################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LLBitMan/obj/Debug
/LLBitManTester/obj/Debug
/LLBitMan/bin/Debug
/LLBitManTester/bin/Debug
/LLBitMan/bin/Release
/LLBitMan/obj/Release
/LLBitManTester/bin/Release
/LLBitManTester/obj/Release
/LLBitMan/obj
/LLBitManTester/obj
/LLBitManTester/Properties/PublishProfiles
/LLBitManTester/LLBitManTester.csproj.user
