################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LLBitMan/obj/Debug
/LLBitManTester/obj/Debug
/LLBitMan/bin/Debug
/LLBitManTester/bin/Debug
